<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places Repository</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        tr:hover{
            cursor: pointer;
            background-color: grey;
        }
</style>
</head>
<body>
    <h1>Repository of all available places</h1>
    {% if objs %}
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
            </thead>
            <tbody>
                {% for obj in objs %}
                            <tr onclick="window.location='{% url 'place_view' obj.pk %}'">
                                <td>{{ obj.pk }}</td>
                                <td>{{ obj.name}}</td>
                                <td>{{ obj.city }}</td>
                                <td>{{ obj.address }}</td>
                            </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>You do not have any places saved!Please add some new places!</h2>
    {% endif %}

    <br>
    <center><button onclick="window.location='admin/weatherapp/place/add/'">Add New</button></center>
</body>
</html>