{% extends 'index.html' %}
{% block title %}Places Repository{% endblock %}

{% block header %}
    <div class="jumbotron">
        <h1 class="display-4">Weather Forecast</h1>
        <p class="lead">This is a repository of all stored locations</p>
        <hr class="my-4">
    </div>
{% endblock %}

{% block content %}
    {% if objs %}
        <table>
            <thead class="bg-secondary">
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Address</th>
            </thead>
            <tbody>
                {% for obj in objs %}
                            <tr onclick="window.location='{% url 'place_view' obj.pk %}'">
                                <td>{{ obj.pk }}</td>
                                <td>{{ obj.name}}</td>
                                <td>{{ obj.city }}</td>
                                <td>{{ obj.address }}</td>
                            </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>You do not have any places saved!Please add some new places!</h2>
    {% endif %}

    <br>
    <center><button class="btn btn-lg btn-primary" onclick="window.location='/admin/weatherapp/place/add/'">Add New</button></center>
{% endblock %}